@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
}


@media screen and (max-width: 768px) {
    /* Ubah tinggi gambar pada carousel */
   .hero #carouselExampleIndicators .carousel-inner .carousel-item img {
      height: auto; /* Atur tinggi gambar menjadi otomatis */
      max-height: 300px; /* Atur tinggi maksimum gambar */
    }

    .header img {
        width: 160px;
    }
  }


